<footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About WorkoutShop</h5>
          <p>Your one-stop shop for all your workout equipment needs.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Connect With Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
          </ul>
        </div>
      </div>
  
      <hr />
      <div class="text-center">
        <p>&copy; {{ currentYear }} - WorkoutShop. All rights reserved.</p>
      </div>
    </div>
  </footer>
  